@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #0B0094;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 75%;
}

.draggable {
      max-width: 40%;
      max-height: 40%;
      position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}

  /* Styling for the header */
h1 {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

  /* Navigation bar styling */
#navbar {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    padding: 0 20px;
}

#navbar .nav-links {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#navbar:hover .nav-links {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}

#navbar h2 {
    font-size: 2rem;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#navbar a {
    color: #A1B3C3;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #FFFFFF;
    text-decoration: line-through;
}
  
/* Horizontally Scrollable Text Box */
#scrolling-text-container {
    height: 70%;
    width: 70%; /* Full width of the viewport */
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent; /* Background color for the container */
    padding: 10px 0; /* Some padding to make it look nicer */
    margin-top: 20px; /* Space from the navbar */
    position: relative;
}
  
#scrolling-text {
    white-space: normal; /* Prevent text from wrapping to the next line */
    color: #f1f1f1; /* Light text color */
    font-family: 'JetBrains Mono', monospace; /* Use your desired font */
    font-size: 18px; /* Adjust font size as needed */
    padding: 10px 20px; /* Add padding for better readability */
}

/* Hide the scrollbar (for Webkit browsers like Chrome, Safari) */
#scrolling-text-container::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar completely */
    background: transparent; /* Transparent background for the scrollbar */
}

#scrolling-text h3 {
    text-decoration: solid;
    font-weight: 600;
}
